<head>
    {% include meta.html %}
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/style.css">
    <script src="https://kit.fontawesome.com/6a97161b76.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% if site.favicon-url %}https://images.weserv.nl/?url={{site.favicon-url}}&h=300&w=300&fit=cover&mask=circle&maxage=7d{% else %}https://images.weserv.nl/?url={{ 'assets/images/logo.png' | absolute_url }}&h=300&w=300&fit=cover&mask=circle&maxage=7d{% endif %}" type="image/x-icon">
</head>